.PluginCompendium/
.bash_history
.cache/
.cargo/
.config/BraveSoftware/
.config/Code/
.config/CurseForge/
.config/JetBrains/
.config/KDE/
.config/QtProject.conf
.config/Trolltech.conf
.config/Yubico/
.config/aacs/
.config/arkrc
.config/autostart/
.config/baloofileinformationrc
.config/baloofilerc
.config/bdplus/
.config/bluedevilglobalrc
.config/ckb-next/
.config/dconf/
.config/discord/
.config/dolphinrc
.config/easyeffects/autoload/
.config/easyeffects/output/
.config/filetypesrc
.config/fontconfig/
.config/fontforge/
.config/gh/
.config/github-copilot/
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/gzdoom/savegames/
.config/htop/
.config/jgit/
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kate-externaltoolspluginrc
.config/kate/
.config/katemetainfos
.config/katerc
.config/katevirc
.config/kcalcrc
.config/kcminputrc
.config/kconf_updaterc
.config/kded5rc
.config/kdedefaults/
.config/kdeglobals
.config/kfontinstuirc
.config/kglobalshortcutsrc
.config/kiorc
.config/klassy/
.config/kleopatrarc
.config/kmenueditrc
.config/kmymoney/
.config/kpatrc
.config/kscreenlockerrc
.config/kservicemenurc
.config/ksmserverrc
.config/ktimezonedrc
.config/ktrashrc
.config/kwalletmanagerrc
.config/kwalletrc
.config/kwinoutputconfig.json
.config/kwinrc
.config/kxkbrc
.config/libreoffice/
.config/linux-assistant/
.config/menus/
.config/mimeapps.list
.config/obsidian/
.config/okularpartrc
.config/okularrc
.config/ow-electron/
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma-welcomerc
.config/plasmanotifyrc
.config/plasmarc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/pulse/
.config/qBittorrent/
.config/sddmthemeinstallerrc
.config/session/
.config/spectaclerc
.config/spotify/
.config/systemd/
.config/systemmonitorrc
.config/systemsettingsrc
.config/tokodonrc
.config/trashrc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/xdg-desktop-portal-kderc
.config/xsettingsd/
.config/zdoom/
.cups/
.dropbox-dist/
.dropbox/
.fancy-git/
.fonts.conf
.fonts/
.forward
.gdfuse/
.gitconfig
.gnupg/
.gtkrc-2.0
.hplip/
.icons/
.java/
.local/
.mozilla/
.mupdf.history
.npm/
.nuget/
.nv/
.nvidia-settings-rc
.pam_mount.conf.xml
.pki/
.ssh/
.steam/
.steampath
.steampid
.thunderbird/
.ts3client/
.vim/plugged/vim-airline-themes/
.wget-hsts
Desktop/
Documents
Music
Pictures
Templates
